* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  background-color: rgba(211, 211, 211, 0.836);
  text-align: center;
  padding: 25px;
}
.navbar {
  background-color: rgba(43, 42, 42, 0.836);
  height: 50px;
}
aside {
  width: 20%;
  float: left;
  padding: 10px;
}
section {
  padding: 10px;
  width: 40%;
  float: left;
}
article {
  padding: 10px;
  width: 40%;
  float: left;
}
footer {
  display: block;
  clear: both;
  background-color: rgba(211, 211, 211, 0.836);
  text-align: center;
  padding: 25px;
}
@media screen and(max-width:600px) {
  aside,
  section,
  article {
    width: 100%;
  }
}
