h1{
    text-shadow: 3px 3px 5px rgb(221, 12, 12), -3px -3px 5px rgb(53, 105, 250);
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(234, 234, 234);
    box-shadow: 3px 3px 5px;
}